:root {
    font-size: 15px;
    /* Define your custom colors */
    --primary-color: rgb(255, 255, 255);
    --primary-color-1: rgba(255, 255, 255, 0.775);
    --primary-color-2: rgba(255, 255, 255, 0.577);
    --primary-color-3: rgba(255, 255, 255, 0.466);
    --secondary-color: rgb(11, 11, 11);
    --font-color-hero: rgb(144, 144, 144);
    --bg-color-icons: rgb(196, 196, 196);
    --gray-dark-color: rgb(29, 29, 29);
    --bg-color: rgb(215, 215, 215);
    --sb-track-color: #ffffff;
    --sb-thumb-color: #000000;
    --sb-size: 11px;
    --bs-body-bg: transparent;
    --bs-card-border-color: transparent;
    --bs-border-color-translucent: transparent;
}

* {
    font-family: "Raleway", serif;

    scroll-behavior: smooth;
}

/* components */
.section-title {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3rem;
    padding: 1.5rem 4rem;
    margin: 2rem 0;
    color: var(--secondary-color);
    border: 8px solid var(--secondary-color);
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    .section-title {
        width: 360px;
    }
    
}

.letter-spacing {
    letter-spacing: 0.3rem;
}

body {
    height: 1000vh;
    background-color: #fff;
    background: radial-gradient(circle, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%);
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
    border: 2px solid #000000;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* header */
header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: var(--primary-color);
    --bs-navbar-hover-color: var(--primary-color-2);
    --bs-navbar-disabled-color: var(--primary-color);
    --bs-navbar-active-color: var(--primary-color);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: var(--primary-color);
    --bs-navbar-brand-hover-color: var(--primary-color-2);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-border-color: var(--primary-color);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: var(--secondary-color) !important;
}

.btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-family: 'Raleway';
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-secondary {
    --bs-btn-color: var(--secondary-color);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color-1);
    --bs-btn-hover-color: var(--primary-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary-color-2);
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-color-1);
    --bs-btn-disabled-border-color: var(--primary-color-1);
}

/* hero section */
section#hero {
    /* background-image: url('../images/hero.svg'); */
    background-color: var(--secondary-color);
    background-image: url('../images/me-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -4rem;
    height: calc(100vh - 58.5px);
}

@media screen and (min-width: 768px) {
    section#hero {
        background-image: url('../images/hero.svg');
        background-color: var(--secondary-color);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -8rem;
        height: calc(100vh - 75px);
        position: relative;
    }
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #666;
    opacity: 0.9;
    color: white;
    padding: 20px;
    clip-path: polygon(0 50%, 100% 30%, 100% 100%, 0% 100%);
}


.profile-content {
    max-width: 96%;
    min-height: 15rem;
}

.profile-content p {
    margin: 10rem 0 0;
    font-size: 2rem;
}

.profile-content h1 {
    margin: 1rem 0 0;
    font-size: 2.5rem;
    text-wrap: nowrap;
}

.profile-content h2 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    .profile-section {
        color: var(--secondary-color);
        position: absolute;
        top: 10%;
        left: 5%;
        clip-path: none !important;
        background-color: transparent;
    }

    .profile-content h1 {
        margin: 1rem 0 0;
        font-size: 4rem;
        font-weight: bolder;
        text-wrap: nowrap;
        margin-left: -3px;
    }

    .profile-content h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--font-color-hero);
    }

    .profile-content p {
        margin: 8rem 0 0;
        font-size: 2rem;
    }

    .icons {
        margin-left: 6px;
    }

}

/* About me */
section#about {
    background-image: url('../images/about-mb-bg.svg');
    background-size: cover;
    color: var(--primary-color);
    background-color: #1D1D1D;
}

@media screen and (min-width: 768px) {
    section#about {
        background-image: url('../images/about-bg.svg');
        background-size: cover;
        color: var(--primary-color);
        background-color: #1D1D1D;
    }
}

.text-justify {
    text-align: justify;
}

/* services */
section#services .card img {
    position: absolute;
    top: -14px;
    left: -43px;
    width: 60px;
    transition: all 0.5s;
}

section#services .card:last-child img {
    top: -31px;
    left: -36px;

}

@media screen and (min-width: 768px) {
    section#services .card img {
        top: 35px;
        left: -12px;
        width: 60px;
    }
    section#services .card:last-child img {
        top: 19px;
        left: 0px;
    }

}

section#services .card:hover img {
    transform: scale(1.18);
}
/* skills */
.carousel-item img {
    height: 300px;
}

